{% extends "layout.html" %}
{% block body %}
<section class="jumbotron">
  <div class="header-text col-md-12">
    <h1>IncluCivics</h1>
    <p>Brought to you by <a href="http://www.codefornashville.org">Code for Nashville</a><br> and the <a href="#" id="ntp">Nashville Transparency Project</a></p>
    <img src="{{ url_for('static', filename='img/logo.png')}}" /> 
  </div>
  <div class="header col-md-2">
    <h4>Department</h4>

    <select id="department"></select>
        <h4>Demographics:</h4>
    <select id="demographics">
      <option value="ethnicity">Race/Ethnicity</option>
      <option value="gender">Sex</option>
    </select>
  </div>
</section>
<section class="main-content">
  <div class="container">
      <div id="graph-container"></div>
          <div class="col-md-6">
              <div id="charts-container">
              </div>
          </div>
          <div>
              <div class="col-md-6">
                  <div id="charts-container2">
                  </div>
              </div>
          </div>
  </div>
</section>
{% endblock %}
